*{
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  overflow: hidden;
}
.App{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin: 30px;
}
.App__left{
  flex: 2;
}
.App__right{
  flex: 1;
  min-width: 300px;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
.header__title{
  color:rgb(233, 73, 73);
}
.header__select{
  display: flex;
  width: 180px;
}
.infoBox__container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.infoBox__danger{
  color: rgb(233, 73, 73);;
}
.infoBox__info{
  color: rgb(49, 173, 49);
}
.infoBox__element{
  cursor: pointer;
  margin: 5px;
}
.infoBox__element__selected{
  box-shadow:  0px -8px 0px rgb(233, 73, 73) ;
  transform: scale(1.1);
  border-radius: 10px;
  transition: all ease-in 200ms;
}
.table{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 300px;
}
.table__title{
  margin-bottom: 5px;
  color: rgb(95, 93, 93);
  font-size: 18px;

}
.table__country img{
  margin: 0 5px;

}
.table > tr:nth-of-type(odd){
  background-color: rgb(229, 226, 226);
}
strong{
  color: rgb(77, 74, 74);
}
.table > tr {
  display: flex;
  justify-content: space-between;
}
.chart{
  height: 250px;
  display: flex;
  margin-top: 25px;
}
